#board {
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 150px;
}


.X, .O {
  text-align: center;
  font-size: 50px;

}


.btn-primary {
  background-color: blue;

}

#box2 {
  background-color: blue;
}

#box7 {
  background-color: green;
}